---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$base-font-size:   16px;
//$base-font-weight: 400;
//$small-font-size:  $base-font-size * 0.875;
//$base-line-height: 1.5;

//$spacing-unit:     30px;

//$text-color:       #111;
//$background-color: #fdfdfd;
//$brand-color:      #2a7ae2;

//$grey-color:       #828282;
//$grey-color-light: lighten($grey-color, 40%);
//$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
//$content-width:    800px;

//$on-palm:          600px;
//$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "banners"
;

/* Font */

body{
  /*font-family:Helvetica, Arial,sans-serif !important;*/
  font-family: "Segoe UI",Arial,sans-serif;
}
.labMembersContainer, .labMembersContainerTop{
  /*font-family:Helvetica, Arial,sans-serif !important;*/
  font-family: "Segoe UI",Arial,sans-serif;
}

/* HEADER*/

.headerDept{
  /*font-style: italic;*/
}
.siteHeaderTop{
  font-family:Helvetica, Arial,sans-serif !important;
}

/* People page*/
div, img, span {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; 
}

img.labMembers, .labMembersContainerTop img.labMembers{
	/*width: 50%;*/
  height: 200px;
  filter: grayscale(50%);
  outline: 5px solid white;
  /*box-shadow: 1px 1px;*/
  border: 1px solid #DDDDDD;
  padding: 10px;
  background: #FFF;

  -webkit-border-radius: 5%;
     -moz-border-radius: 5%;
          border-radius: 5%;
}
.labMembersContainerTop img.labMembers{
  /*width: 20%;*/
  /*height: 200px;*/
}
.labMembersContainer:hover img.labMembers, .labMembersContainerTop:hover img.labMembers{
	/*opacity: 0.5;*/
  /*border: #052049 solid 7px;*/
  /*outline: 5px solid #052049;*/
  background: #052049;
  filter: grayscale(0%);
  /*border-radius: 5px;*/
}

.labMembersContainer:hover .labMemberName, .labMembersContainerTop:hover .labMemberName{
  /*color:#052049;*/
  color:red;
}
.labMemberPosition, .labMemberEmail,.labMemberName{
  display:block;
}
.labMembersContainerTop{
  /*width: 30%;*/
}
.labMembersContainer{
  /*display:grid;*/
  /*float:left;*/
  /*width:20%;*/
  /*height:40%;*/
  padding:5%;
}
.labMembersContainer:hover .labMemberContent{
  font-size:1em;
}
.grid-container {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
  /*background-color: #2196F3;*/
  padding: 10px;
  /*width: 100%;*/
}
.labMembersContainerTop{
  /*width: 30%;*/
  padding:0%;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.labMemberContent{
  font-size: 0.7em;
}
.labMemberEmail{
  font-size: 0.8em;
}
.labMemberWebsite{
  font-size: 0.7em;
}
.labMembersContainer:hover .labMemberEmail{
  color: blue;
}
.labMemberWebsite:hover{
  color: blue;
}
.labMemberName{
  font-weight: bold;
}

.formerLabMembers{
  column-count: 3;
}
.formerLabMembers ul{
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .formerLabMembers{
    column-count: 1;
  }
}